{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">


</head>
<body>

<div class="nav">
    <!-- Left -->
    <div class="leftObject">
        <a href="/">Home</a>

        <div class="stick"></div>

        <a href="/about">About</a>
    </div>

    <!-- Right -->
    <div class="rightObject">
        <span> User : {{ user }} </span>

        <div class="stick"></div>

        <a href="/sign">Sign up</a>
    </div>
</div>






<form method="post" class="p-4 border rounded custom-form">
    <span>
        Login
    </span>
    {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.username.id_for_label }}" class="form-label">Ім'я :</label>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label for="{{ form.password.id_for_label }}" class="form-label">Пароль :</label>
            {{ form.password }}
        </div>

    <button type="submit" class="btn btn-primary">Зайти</button>

</form>




</body>
</html>